.flights {
    width: 70vw;
   display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.carrier {

}

.price {

}

.duration {

}

.flight {
    width: 800px;
    min-height: 200px;
    border: 1px solid black;
}
.header{
    width: 600px;
    height: 50px;
    background: #0087c9;
    display: flex;
align-items: flex-start;
        justify-content: space-between;
    margin-top: 20px;
}
.priceBlock{
    display: flex;
    flex-direction: column;
}
.price{
    color:white;
    text-align: right;
}
.button{
    width: 100%;
    height: 50px;
    background:#ffb168 ;
    color: white;
    border: none;
    margin-bottom: 20px;
}
.city-airport{
   display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
}
.line{
    width: 100%;
    height: 1px;
    background: lightgray;
    margin: 10px 0;
    opacity: 0.5;
}
.time{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}
.transfer{
    text-align: center;
    color: #ffb168;
}

.line2{
    width: 500px;
    height: 2px;
    background: rgb(0,132,197);
    margin: 10px 0;
    opacity: 0.5;
}
.company{
    margin: 20px 0px;
}